
    html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: PK Maehongson;
    }



    .slide-fade {
        animation: slide-fade;
        animation-duration: 1.5s;
    }

    @keyframes slide-fade {
        from {margin-top: 3rem;}
        from {opacity: 0} 
        to {margin-top: 0;}
        to {opacity: 1}
    }

    
    
    .bp {
        padding: 2rem;
        display: flex;
        /* border: 1px solid red; */
        gap: 1rem;
    }
    
    .bp .f{
        margin-right: auto;
        margin-left: auto;
        padding: 2rem;
        display: flex;
        /* border: 1px solid red; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
        outline: 1px solid white;
        gap: 1rem;
    }
    
    .bp .f:hover{
        outline: 1px solid green;
    }
    
    .bp .text{
    
        display: block;
        width: 500px;
        /* border: 1px solid red; */
    }
    
    .bp .img img{
        /* border: 1px solid red; */
        display: flex;
        width: 190px;
    }
    
    .bp .price{
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        /* border: 1px solid red; */
        width: 130px;
    }
    
    .bp .price input{
        width: 50px;
        display: block;
        /* margin-top: 2rem; */
    }

    .bp .price button{
        margin-top: 1rem;
    }
    
    .bp .price input:hover{
        cursor: pointer;
        color: blue;
    }
    
    .show-box p{
        font-size: 20px;
        width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
    }

    .textshop{
        text-decoration: none;
    }
    
    .show-box .textshop a{
        text-decoration: none;
    }


/*  */




.fup{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    outline: 1px solid white;
}

.fup:hover{
    outline: 1px solid green;
}

.fup-box{
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 20px;
    color: green;
    padding: .5rem;
    /* border: 1px solid red; */
    transition: all .3s;
}




.fup label{
    margin-left: 2rem;
    /* border: 1px solid red; */
    font-size: 25px;
}

.fup-btn a{
    font-size: 25px;
    text-decoration: none;
    /* border: 1px solid red; */
}

.fup-btn input{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: block;
    width: 70px;
    height: 40px;


}


/*  */

.fup-btn a{
    font-size: 25px;
    text-decoration: none;
    /* border: 1px solid red; */
}